<div class="container">
  <form action="/sightings" method="get">
    <label for="sightings_start_date">Start date</label>
    <input id="sightings_start_date" name="sightings[start_date]" type="text">
    <label for="sightings_end_date">End date</label>
    <input id="sightings_end_date" name="sightings[end_date]" type="text">
    <button>Run report</button>
  </form>
</div>
